

:root {
    --primary: #4d004d;
    --secondary: #f2f2f2;
    --tertiary: #b3b3b3;
}

body {
    background: var(--secondary);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}


header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    width: 25%;
    padding: 1%;
    color: white;
}

.btn:hover {
    background-color: #cc00cc;
}
body header a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}
.timer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    padding: 30px;
}

.timer p {
    margin: unset;
    padding: 0 7px 0 7px;
}

.start-scrn, .end-scrn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    max-height: 80%;
    width: 400px;
    max-width: 80%;
}

.highscore-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highscore-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}



.start-scrn h2 {
    margin-bottom: 0;
    font-weight: bolder;
}

.start-scrn p {
    width: 100%;
    font-weight: bold;
}

.end-scrn {
    justify-content: center;
    align-items: flex-start;
}

.end-scrn .input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.end-scrn .input-container input {
    margin: 16px 0 16px 0;
}

.end-scrn .input-container button {
    margin: 16px 0 16px 0;
}

.question-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    max-height: 80%;
}


.btn-grid {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 50%;
    justify-content: space-around;
}

.question-response {
    color: #cccccc;
    border-top: 2px;
    border-top-style: solid;
    border-color: #cccccc;
}


.hide-me {
    display: none;
}