* {
    box-sizing:  border-box;
}

:root {
    --primary: #4d004d;
    --secondary: #f2f2f2;
    --tertiary: #b3b3b3;
}

body {
    background: var(--secondary);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}